<div class="centered column row">
  <button ui-sref="post.list" class="ui red button">Back</button>
  <button ng-click="delete()" class="ui red button">Delete</button>
  <button ui-sref="post.edit({id:post.id})" class="ui blue button">Edit</button>

  <div class="ui error message" ng-show="deleted">
    <div class="header">Oops</div>
    <p>We are sorry, but this publication has been deleted by somebody else.</p>
  </div>
</div>

<div class="six wide column">
  <div class="ui segment" ng-show="post.image">
    <img src="{{post.image}}" width="100%">
  </div>
</div>

<div class="six wide column">
  <h3 class="header">{{post.message}}</h3>  
  <p>
    <span ng-show="post.published" class="right floated created">Published at</span>
    {{post.network}}
  <br/><br/>
  <span class="ui blue image label" ng-show="post.countries.length > 0">
    {{post.countries.join(" ")}}
    <span class="detail">Countries</span>
  </span>
  <br/><br/>
  <span class="ui red image label" ng-show="post.languages.length > 0">
    {{post.languages.join(" ")}}
    <span class="detail">Language</span>
  </span>
  <br/><br/>
  <span class="ui tag label" ng-repeat="tag in post.tags">{{tag}}</span>
  </p>
</div>
