<h4>Add new Data Point</h4>
<div class="ui form segment">
  <div class="field">
    <label>Organic</label>
    <input class="lunatone-input" ng-model="datapoint.organic" placeholder="Impressions"></textarea>
  </div>
  <div class="field">
    <label>Viral</label>
    <input class="lunatone-input" ng-model="datapoint.viral" placeholder="Impressions"></textarea>
  </div>
  <div class="field">
    <label>Paid</label>
    <input class="lunatone-input" ng-model="datapoint.paid" placeholder="Impressions"></textarea>
  </div>
</div>

<button ng-click="toggle()" class="ui red button">Cancel</button>
<button ng-click="save()" class="ui blue button">Save</button>